@import './components.css';

body {
  background-color: #89a9ea;
}

.App {
  background-color: #fff;
  max-width: 1280px;
  margin: 0 auto;
  overflow-y: auto;
  padding: 24px;
}

.LoginScreen {}

.LoginScreen__Form {
  border: 1px solid black;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  width: 100%;
}
